<div class="container">
    <div class="formgrid grid">

        <div class="field col-12 md:col-6">
            <label for="nome">Nome</label>
            <input id="nome" class="inputfield w-full"
            pInputText type="text" name="nome" [(ngModel)]="nome"
            required minlength="3" maxlength="100" upperCase>
        </div>

        <div class="field col-12 md:col-6">
            <label for="funcao">Função</label>
            <input id="funcao" class="inputfield w-full"
            pInputText type="text" name="funcao" [(ngModel)]="funcao"
            required minlength="3" maxlength="100" upperCase>
        </div>
        <div class="field col-12 md:col-6">
            <label for="funcao">E-mail</label>
            <input id="funcao" class="inputfield w-full"
            pInputText type="text" name="funcao" [(ngModel)]="email"
            required minlength="3" maxlength="100" upperCase>
        </div>


        <div class="field col-12 md:col-6">
            <label for="telefone1">Telefone</label>
            <br>
            <p-inputMask [(ngModel)]="telefone1" mask="(99) 9999-9999"></p-inputMask>

        </div>

        <div class="field col-12 md:col-6 col-offset-3">
            <div class="field col-12 md:col-12 image" id="image">
                <div class="campo campo-nome">
                    <br>
                    <label>{{nome}}</label>
                </div>
                <div class="campo campo-funcao">
                    <label>{{funcao}}</label>
                </div>
                <div class="campo-telefone1">
                  <label>{{foneTitulo}}</label>
                  <label>{{telefone1}}</label>
                </div>
                <div class="campo-email">
                  <label>{{emailTitulo}}</label>
                  <label>{{email}}</label>
                </div>
                <a #downloadLink></a>
            </div>
          </div>
        <div class="field col-12 md:col-12">
            <div class="flex justify-content-center flex-wrap card-container yellow-container">
            <button
                label="Gerar" pButton type="button"
                icon="pi pi-download" class="p-button-primary"
                (click)="gerarAssinatura()">
            </button>
        </div>
    </div>

</div>
